<table class="table user-list">
  <thead>
      <tr>
          <th><span>idproduct</span></th>
          <th><span>code</span></th>
          <th class="text-center"><span>libelle</span></th>
          <th><span>prixunitaire</span></th>
          <th><span>Id rayon</span></th>
          <th><span>Id stock</span></th>
          <th><span>Categorie</span></th>
          <th><span>Date Creation</span></th>
          <th><span>Date Derniere Modification</span></th>
          <th><span>Action</span></th>
          
          
          <th>&nbsp;</th>
      </tr>
  </thead>
  <tbody *ngFor = "let u of my_products; let i = index">
      
      
          <tr >
          
                  <td>
                       {{ u.id }}
                    
                  </td>
          
              <td>
                  {{ u.code }}
              </td>
              <td class="text-center">
                  <span class="label label-default">{{ u.libelle }}</span>
              </td>
              <td>
                  {{ u.prixUnitaire }}
              </td>
              <td>
                  {{ u.CategorieProduit }}
              </td>
              <td>
                {{ u.stock }}
            </td>
            <td>
              {{ u.rayon }}
          </td>
          <td>
            {{ u.dateCreation }}
        </td>
        <td>
          {{ u.dateDerniereModification}}
      </td>
          <td>
            <button class="btn btn-danger" (click)="delete(item)">Delete</button> 
            <button class="btn btn-secondary" (click)="setProduct(item)">Update</button> 
        </td>
          </tr>

      
  </tbody>
</table>
<div>
  
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addProduct(item)">Add</button>

  
 

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myProductForm">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Id produit</label>
            <input type="text" formControlName="id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Code</label>
            <input type="text" formControlName="code"class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Libelle</label>
            <input type="text" formControlName="libelle" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Prix Unitaire</label>
            <input type="text" formControlName="prixUnitaire"class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Categorie</label>
            <input type="text"formControlName="CategorieProduit" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Id Stock</label>
            <input type="text"formControlName="stock" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Id Rayon</label>
            <input type="text" formControlName="rayon"class="form-control" id="exampleInputPassword1">
          </div>
         
         
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Date de Creation</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Date de deniere Modification</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          
          <button type="submit" class="btn btn-primary"(click)="addProduct(item)" >Ajouter</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
