 <!-- Main Sidebar Container -->
 <aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    
     

    <!-- SidebarSearch Form -->
    <!--<div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>-->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        
        <li class="nav-item">
          <a [routerLink]="['/back-office/product']" class="nav-link">
            <i class="fab fa-product-hunt"></i>            <p>
              Produits
             
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/back-office/product']" class="nav-link">
            <i class="fas fa-file-invoice"></i>            <p>
              Factures
             
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/back-office/rayon']" class="nav-link">
            <i class="fab fa-rust"></i>
            <p>
              Rayons
             
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/back-office/stock']" class="nav-link">
            <i class="fas fa-layer-group"></i>
            <p>
              Stocks
             
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/back-office/product']" class="nav-link">
            <i class="fas fa-shopping-cart"></i>         <p>
              Fournisseurs
             
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/back-office/product']" class="nav-link">
            <i class="fas fa-user-friends"></i>            <p>
              Clients
             
            </p>
          </a>
        </li>
       
        
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
 </aside>
 
