<div class="container">
    


<div class="text-center " style="color:#4B4645;">   <h1>LISTE DES STOCKS</h1> </div>
<div class="text-center "> <button type="button" class="btn btn-warning mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat"><i class="fas fa-plus"></i></button>
</div>
<div class="row">    
<div class="col-4" *ngFor="let item of ListeStocks; let i = index">
    <div class="card" >
      <div class="card-header" style="background-color: #2E4053; font-weight: bold; color: white">
        {{item.libelleStock}}
      </div>
      <div class="card-body" style="background-color: powderblue;">
        <h5 class="card-title">Quntitée: {{item.qte}}</h5>
        <p class="card-text">Quantitée Minimale: {{item.qteMin}}</p>
        <button (click)="deleteStocks(item)" class="btn btn-danger "><i class="fas fa-trash-alt"></i></button>
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#Modal" data-bs-whatever="@fat"><i class="fas fa-pen-alt"></i></button>
          
      </div>
    </div>
</div>
</div>
  </div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Ajouter Stock</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="stock">
          <div class="mb-3">
            <label for="libelleStock" class="col-form-label">libelle Stock:</label>
            <input formControlName="libelleStock" type="text" class="form-control" id="libelleStock"
            name="libelleStock" placeholder="Ajouter votre Libelle ..." 
              [ngClass]="{ 'is-invalid':stock.get('libelleStock').touched && stock.get('libelleStock').invalid }" maxlength="10"
             
              />
              <div class="invalid-feedback" *ngIf="stock.get('libelleStock').touched && stock.get('libelleStock').invalid">
                <p *ngIf="stock.get('libelleStock').errors.required">Ajouté votre Libelle SVP</p>
              </div>
          </div>
          <div class="mb-3">
            <label for="qteMin" class="col-form-label">Quntitée Minimale:</label>
            <input  formControlName="qteMin" type="number" class="form-control" id="qteMin"
            name="qteMin" placeholder="Ajouter votre Quantitée Minimale ..." 
              [ngClass]="{ 'is-invalid':stock.get('qteMin').touched && stock.get('qteMin').invalid }" maxlength="10"
             
              />
              <div class="invalid-feedback" *ngIf="stock.get('qteMin').touched && stock.get('qteMin').invalid">
                <p *ngIf="stock.get('qteMin').errors.required">Ajouté votre Quantitée Minimale SVP</p>
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button (click)="addStock()"  class="btn btn-primary" data-bs-dismiss="modal">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal" style="font-weight: bold;">Modifier Stock</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="stock">
          <div class="mb-3">
            <label for="libelle" class="col-form-label">libelle Stock:</label>
            <input formControlName="libelle" type="text" class="form-control" id="libelle">
          </div>
          <div class="mb-3">
            <label for="code" class="col-form-label">Quntitée Minimale:</label>
            <input  formControlName="code" type="number" class="form-control" id="code">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button   class="btn btn-primary" data-bs-dismiss="modal">Modifier</button>
      </div>
    </div>
  </div>
</div>

